### Topics Covered
- Container Objects, Mutability Of Objects
- Syntax and Semantics in Python
- Variables
- Basic Commands
- Basic DataTypes
- Operators

#### Python Introduction

Jupyter Notebook follows only ipynb file (Interactive Python Notebook)

##### Using Markdown Dropdown

# Using # for Biggest Header Font

## Using ## for next Biggest Header Font

### Using ### for small Header Font and so on

#### Container Objects, Mutability Of Objects

In [18]:
# When you select "Code" from dropdown, you can now execute codes
# When you prefix comment with #, Juypter will skip this line/comment and execute just the code
a=10
a

10

In [20]:
# For Single line comment you can use # or even ##

In [22]:
"""
For Multi line comment we use Thriple Quotes. 
Now Jupter will skip these multi line and execute the below code
"""
a=20
a

20

In [24]:
"""
But if you just execute  Multi line comment,
without the code , you will get below message highlighting \n which denotes "Next Line"
"""

'\nBut if you just execute  Multi line comment,\nwithout the code , you will get below message highlighting \n which denotes "Next Line"\n'

In [26]:
print("Lets see what happens when i break the sentence in 
      next line")

SyntaxError: unterminated string literal (detected at line 1) (3867038911.py, line 1)

In [28]:
# We can now shift the sentence in next line using "\n"
print("Lets see what happens when i break the sentence in \n next line")

Lets see what happens when i break the sentence in
 next line

#### Syntax and Semantics in Python
- Single line Comments and multiline comments 
- Definition of Syntax and Semantics
- Basic Syntax Rules in Python
- Understanding Semantics in Python
- Common Syntax Errors and How to Avoid Them
- Practical Code Examples

Syntax refers to the set of rules that defines the combinations of symbols that are considered to be correctly structured programs in a language. In simpler terms, syntax is about the correct arrangement of words and symbols in a code.

Semantics refers to the meaning or the interpretation of the symbols, characters, and commands in a language. It is about what the code is supposed to do when it runs.

In [13]:
## Basic Syntax Rules In Python
## Case sensitivity- Python is case sensitive

name="Krish"
Name="Naik"

print(name)
print(Name)

Krish
Naik

#### Dynamic Typing

In Other languages(C, C++) when you are defining a variable, you have to declare it first.. e.g int, string, float etc But Python is a dynamic typing language, e.g in below case if a number is assigned to a variable, that variable automatically becomes a integer variable, without even declaring it. So the compiler at the runtime will understand whether the variable is an Integer or String

In [32]:
a = 12
b = "Praveen"
print(a)
print(type(a))
print(b)
print(type(b))

12
<class 'int'>
Praveen
<class 'str'>

##### Concatenation between diff types

In [35]:
# What happens when we concatenate below
"1" + "1"

'11'

In [37]:
# it will convert string into int
int("1") + int("1")

2

In [39]:
# but you cant concatenate diff types
"1" + 1

TypeError: can only concatenate str (not "int") to str

In [41]:
"1" * 100

'1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111'

In [43]:
"1"*"1"

TypeError: can't multiply sequence by non-int of type 'str'

#### Indentation
Indentation in Python is used to define the structure and hierarchy of the code. Unlike many other programming languages that use braces {} to delimit blocks of code, Python uses indentation to determine the grouping of statements. This means that all the statements within a block must be indented at the same level.

In [34]:
## Indentation
## Python uses indentation to define blocks of code. Consistent use of spaces (commonly 4) or a tab is required.
    
age=32
if age>30:
    
    print(age)
    
print(f"Age is : {age}")

32
Age is : 32

In [36]:
## This is a single line comment
print("Hello World")

Hello World

In [38]:
# Line Continuation
# Use a backslash (\) to continue a statement to the next line

total=1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [40]:
## Multiple Statements on a single line, seperated by ";"
x=5;y=10;z=x+y
print(z)

15

In [48]:
# Understand  Semnatics In Python
# variable assignment
age=32 #age is an integer
name="Krish" #name is a string

In [44]:
type(age)

int

In [46]:
type(name)

str

In [50]:
## Type Inference
# The variable type can be changed from int to str
variable=10
print(type(variable))
variable="Krish"
print(type(variable))

<class 'int'>
<class 'str'>

In [54]:
## Code examples of indentation
if True:
    print("Correct Indentation")
    if False:
        print("This wont print")
    print("This will print")
print("Outside the if block")

Correct Indentation
This will print
Outside the if block

Think of it like a switch:
- if True: → switch is always ON → block runs.
- if False: → switch is always OFF → block never runs.
So your nested if False: never executes, but the outer if True: always does.

##### Conclusion:
Understanding the syntax and semantics of Python is crucial for writing correct and meaningful programs. Syntax ensures the code is properly structured, while semantics ensures the code behaves as expected. Mastering these concepts will help in writing efficient and error-free Python code.

#### Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

Outline:
- Introduction to Variables
- Declaring and Assigning Variables
- Naming Conventions
- Understanding Variable Types
- Type Checking and Conversion
- Dynamic Typing
- Practical Examples and Common Errors

In [64]:
## Declaring And Assigning Variables

age=32
height=6.1
name="Krish"
is_student=True

## printing the variables
print("age :", age,"Height:", height,"Name:" ,name)

age : 32 Height: 6.1 Name: Krish

In [66]:
# You can also use the dynamic value of using the variables
print(f"age: {age} Height: {height} Name: {name}")

age: 32 Height: 6.1 Name: Krish

##### Naming Conventions
- Variable names should be descriptive
- They must start with a letter or an '_' and contains letter,numbers and underscores
- variables names are case sensitive

In [70]:
#valid variable names

first_name="KRish"
last_name="Naik"

In [72]:
first_name, last_name

('KRish', 'Naik')

Invalid variable names

2age=30 # invalid decimal literal ; Cant start with a number
first-name="Krish" # cannot assign to expression here. Maybe you meant '==' instead of '='? ; "-" is not valid variable
@name="Krish" # invalid syntax. Maybe you meant '==' or ':=' instead of '='? ; Cant use special characters except "_"

In [101]:
## case sensitivity
name="Krish"
Name="Naik"

name==Name

False

In [103]:
name="Krish"
Name="Krish"

name==Name

True

In [107]:
## Understanding Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=25 #int
height=6.1 #float
name="KRish" #str
is_student=True #bool

print(type(name)); print(type(age)); print(type(height)); print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [109]:
## Type Checking and Conversion
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [111]:
age='25'
print(type(age))
print(type(int(age)))

<class 'str'>
<class 'int'>

In [131]:
age=25
print(type(age))
new_age=str(age)
print(type(new_age))
new_age

<class 'int'>
<class 'str'>

'25'

In [113]:
# We can convert a string into 'int' but not the other way around
name="Krish"
int(name)

ValueError: invalid literal for int() with base 10: 'Krish'

In [133]:
## Dynamic Typing
## Python allows the type of a variable to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [136]:
# By default Input will be string but we can change it by enclosing the code inside "int"
age=input("What is the age")
print(age,type(age))

age=int(input("What is the age"))
print(age,type(age))

What is the age 45

45 <class 'str'>

What is the age 45

45 <class 'int'>

In [138]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Enter first number:  10
Enter second number:  5

Sum: 15.0
Difference: 5.0
Product: 50.0
Quotient: 2.0

##### Conclusion:
Variables are essential in Python programming for storing and manipulating data. Understanding how to declare, assign, and use variables effectively is crucial for writing functional and efficient code. Following proper naming conventions and understanding variable types will help in maintaining readability and consistency in your code.

#### Basic Commands
- Basic Arithmetic Functions
- Assigning variable
- Strings
- Indexing and Slicing Strings

##### Basic Arithmetic Functions

In [149]:
1+2

3

In [151]:
2*5

10

In [153]:
25657/34

754.6176470588235

##### Assigning variable

In [159]:
a = 10
a

10

In [161]:
a = a + a
a

20

In [163]:
type (a)

int

In [165]:
a = 5.2
type(a)

float

In [171]:
My_Principle_Amount = 100000

My_Interest = 8.9/100

My_Interest_Amount = My_Principle_Amount * My_Interest
print(f"My Interest Amount is {My_Interest_Amount}")

My Interest Amount is 8900.000000000002

##### Strings

In [175]:
'My First String'

'My First String'

In [177]:
"My First String in Double Quotes"

'My First String in Double Quotes'

In [179]:
"Testing String's with Hyphen within Double Quotes "

"Testing String's with Hyphen within Double Quotes "

In [181]:
print('my first string')

my first string

In [183]:
'First String'
'Second String'

'Second String'

In [187]:
print('First String \nSecond String in New line')

First String
Second String in New line

In [189]:
print('First String \tSecond String in New tab')

First String 	Second String in New tab

In [191]:
len('Praveen')

7

In [193]:
len('Praveen Prabhu')

14

In [125]:
# You can use Variable.+"Tab" to bring up all the methods to apply

dir(str1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

##### Indexing & Slicing Strings

In [5]:
New_String = 'Praveen Prabhu'
New_String

'Praveen Prabhu'

In [7]:
# Regular Indexing 
New_String[11]

'b'

In [15]:
# Indexing straight from the text, without assigning to variable and then indexing
'Without_Assigning_Variable_2_String'[7]

'_'

In [21]:
#Reverse Indexing for same string
'New_String'[-1]

'g'

In [23]:
'New_String'[0]

'N'

In [33]:
'New_String'[-0]
# Negative indices in Python are useful (-1 gives the last character, -2 the second last, etc.).
# But -0 is just 0, so it doesn’t behave like other negative indices.If you actually wanted the last character, you’d need [-1], not [-0].

'N'

In [35]:
slice_string = 'abcdefghij'
slice_string

'abcdefghij'

In [37]:
# Slice String from C onwards
slice_string[2:]

'cdefghij'

In [41]:
#slice strings, where Stop Position = (x) , which is :x => Which means Go Upto X but not including X
slice_string[:5]

'abcde'

In [43]:
#slice or extract strings "ghi"
slice_string[6:9]

'ghi'

In [47]:
# Slice to extract all the way from the beginning to all the way to the end[::]
slice_string[::]

'abcdefghij'

In [49]:
# Slice to include everything but with Step size. Which means it skips nth step [::x]
slice_string [::2]

'acegi'

In [51]:
slice_string [::3]

'adgj'

In [55]:
# Slice strings from c to i and jump 2 steps
slice_string[2:9:2]

'cegi'

In [57]:
# Reverse String using slice
slice_string[::-1]

'jihgfedcba'

In [75]:
# Strings are not mutable! (meaning you can't use indexing to change individual elements of a string)
# But we can try other ways ...like concatenation
# Changing name from Prisha to Visha
name = 'Prisha'
name

'Prisha'

In [77]:
'V'+name[2:]

'Visha'

In [79]:
name = name + ' Prabhu '
name

'Prisha Prabhu '

In [81]:
#Strings are flexible , can even multiply but Strings CANNOT be concatenated with Integers
name * 10

'Prisha Prabhu Prisha Prabhu Prisha Prabhu Prisha Prabhu Prisha Prabhu Prisha Prabhu Prisha Prabhu Prisha Prabhu Prisha Prabhu Prisha Prabhu '

In [83]:
2 + 3

5

In [85]:
# It will consider it as Strings and not add it when in quotes
'2' + '3'

'23'

##### Methods
- A method is a function that is associated with an object.
- In Python, everything is an object (strings, lists, etc.), and methods are functions that belong to these objects.
- You call them using dot notation: object.method().

In [87]:
# Strings Methods - if you hit dot (.) and then hit tab, you should see this list pop out... list of all the attributes 
# and methods that are available on this string object.
name.upper()

'PRISHA PRABHU '

In [91]:
name.lower()

'prisha prabhu '

In [129]:
# Find function to find the position of given string
# Docstring: S.find(sub[, start[, end]]) -> int
# Return the lowest index in S where substring sub is found, such that sub is contained within S[start:end].
str1 = "Welcome to Data Science Masters"
str1

'Welcome to Data Science Masters'

In [131]:
# For strings not found, it will give -ve value. it is also case sensitive
str1.find("p")

-1

In [133]:
str1.find("D")

11

In [135]:
str1.find("e",2,10)

6

In [137]:
# in case of multiple occurances, it will show the position of the first string found
str1.find("e",16,25)

19

In [139]:
str1

'Welcome to Data Science Masters'

In [141]:
# Count()
# Docstring:S.count(sub[, start[, end]]) -> int
# Return the number of non-overlapping occurrences of substring sub in string S[start:end].  
# Optional arguments start and end are interpreted as in slice notation.

str1.count('e')

5

In [144]:
# Will count every string
str1.count('')

32

In [146]:
# Will count every space
str1.count(' ')

4

In [154]:
# String upper & lowercase
str1.upper()

'WELCOME TO DATA SCIENCE MASTERS'

In [156]:
str1.lower()

'welcome to data science masters'

In [158]:
# Using swapcase to switch Upper to Lower and viceversa
str1.swapcase()

'wELCOME TO dATA sCIENCE mASTERS'

In [160]:
# title : Return a version of the string where each word is titlecased.
str1.title()

'Welcome To Data Science Masters'

In [162]:
# Reversing a string
# Example of reversing using slicing operation
str1[::-1]

'sretsaM ecneicS ataD ot emocleW'

In [164]:
# Reversing using an Inbuilt funtion
reversed(str1)
# string is reveresed and stored in this location

In [166]:
' '.join(reversed(str1))

's r e t s a M   e c n e i c S   a t a D   o t   e m o c l e W'

In [170]:
''.join(str1)

'Welcome to Data Science Masters'

In [172]:
list(''.join(str1))

['W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e',
 ' ',
 'M',
 'a',
 's',
 't',
 'e',
 'r',
 's']

In [174]:
# Typecasting 
list(reversed("ant"))

['t', 'n', 'a']

In [176]:
for i in list(reversed(str1)):
    print(i,end='')

sretsaM ecneicS ataD ot emocleW

In [178]:
## Removing character from the end of the string

temp = " praveen    "
temp

' praveen    '

In [180]:
# Strip : Return a copy of the string with leading and trailing whitespace removed.
temp.strip(" ")

'praveen'

In [182]:
# lstrip: Return a copy of the string with leading whitespace removed.
temp.lstrip(" ")

'praveen    '

In [184]:
# Return a copy of the string with trailing whitespace removed.
temp.rstrip(" ")

' praveen'

In [186]:
# Signature: string1.replace(old, new, count=-1, /)
# Docstring: Return a copy with all occurrences of substring old replaced by new.

string1= "Its because of me, that this dog is alive"
string1.replace("me","you")

'Its because of you, that this dog is alive'

In [188]:
print("Sentence in \nnext line")

Sentence in
next line

In [190]:
# But when used in a string "\n" it will be considered as string
"Sentence in \nnext line"

'Sentence in \nnext line'

In [192]:
# using Tab function
'Iam using Tab\t to seperate'.expandtabs()

'Iam using Tab    to seperate'

In [196]:
# Assignment to replace "dat" with Data and "cience" with Science
temp2 = "Welcome to PWskills. Welcome to Dat cience Masters"
temp2

'Welcome to PWskills. Welcome to Dat cience Masters'

In [198]:
temp2.replace("Dat cience","Data Science")

'Welcome to PWskills. Welcome to Data Science Masters'

In [200]:
# second method
temp2.replace("Dat", "Data").replace("cience","Science")

'Welcome to PWskills. Welcome to Data Science Masters'

In [208]:
' '.isspace()

True

In [210]:
if " ".isspace():
    print("Give me Space")

Give me Space

In [212]:
St3 = "Test.txt"

if St3.endswith(".txt"):
    print("Its a Text File")

Its a Text File

In [214]:
## check if all the char in string are alphanumeric
a= "1234abcd"
a.isalnum()

True

In [216]:
# Verifying if the count is correct
len(str1)

31

In [218]:
# Check which strings are Vowels
vowels="AaEeIiOoUu"

for temp in str1:
    if temp in vowels:
        print("{} is a Vowel".format(temp))
    else:
        print("{} is not a Vowel".format(temp))

W is not a Vowel
e is a Vowel
l is not a Vowel
c is not a Vowel
o is a Vowel
m is not a Vowel
e is a Vowel
  is not a Vowel
t is not a Vowel
o is a Vowel
  is not a Vowel
D is not a Vowel
a is a Vowel
t is not a Vowel
a is a Vowel
  is not a Vowel
S is not a Vowel
c is not a Vowel
i is a Vowel
e is a Vowel
n is not a Vowel
c is not a Vowel
e is a Vowel
  is not a Vowel
M is not a Vowel
a is a Vowel
s is not a Vowel
t is not a Vowel
e is a Vowel
r is not a Vowel
s is not a Vowel

In [148]:
# String split function
# Docstring: Return a list of the words in the string, using sep as the delimiter string.
str1.split(' ')

['Welcome', 'to', 'Data', 'Science', 'Masters']

In [93]:
# Split method splits the strings by blank spaces
name.split()

['Prisha', 'Prabhu']

In [95]:
x ='This is a test to check how Split works'

In [97]:
x.split()

['This', 'is', 'a', 'test', 'to', 'check', 'how', 'Split', 'works']

In [101]:
#You can also let split exclude any specific letter and take into consideration remaining words as seperate string
#In this e.g it removes s and takes everything after and before next s
x.split('s')
# Notice that it is case sensitive

['Thi', ' i', ' a te', 't to check how Split work', '']

In [152]:
# Partition  uses the seperator but keeps the seperator
str1.partition(' ')

('Welcome', ' ', 'to Data Science Masters')

In [105]:
a = "Temp Variable"
a

'Temp Variable'

In [111]:
a.append('N')

AttributeError: 'str' object has no attribute 'append'

- In Python, strings are immutable — you cannot change them in place.
- The .append() method exists only for lists, not for strings.

In [114]:
# - If you want to add text to a string → use concatenation or .join():
a = "Hello"
a = a + " World"
print(a)   # "Hello World"

Hello World

In [221]:
# If you want to treat it like a list of characters → convert to a list first:
a = list("Hello")
a.append("World")
print(a)

['H', 'e', 'l', 'l', 'o', 'World']

In [118]:
# If you want a list of strings and append new items:
a = ["Hello"]
a.append("World")
print(a)

['Hello', 'World']

- .append() → only for lists.
- Strings use concatenation (+), formatting (f"..."), or methods like .replace(), .lower(), .upper().

In [124]:
# You can also have mutiple Inserts
print('Mary {} {} {}' .format('little', 'had a', 'lamb'))

Mary little had a lamb

In [126]:
# Using Indexing to Insert Strings....In correct order. Complete String is assigned value (0 1 2 3 ...)
print('Mary {1} {0} {2}' .format('little', 'had a', 'lamb'))

Mary had a little lamb

In [128]:
# Using Variable names as keywords to insert new strings
print('Mary {b} {a} {c}' .format(a='little', b='had a', c='lamb'))

Mary had a little lamb

In [130]:
# Float formatting follows "{value:width.precisionf}"
# Assigning Float value to variable
prime=0.141965

In [132]:
# Using Variable name
print("The result is {} values" .format(prime))

The result is 0.141965 values

In [134]:
print("The result is {p:1.3} values" .format(p=prime))

The result is 0.142 values

prime = 0.141965
Assigns the floating-point number 0.141965 to the variable prime.
- {p:1.3} inside the string
- p → refers to the keyword argument p=prime passed into .format().
- :1.3 → this is a format specifier.
- 1 → minimum field width (not very relevant here since the number is small).
- .3 → precision, meaning show 3 significant digits (not 3 decimal places — that would be .3f).
- .format(p=prime)
Substitutes the value of prime into {p:1.3}.

In [136]:
# F strings or formatted string literals and this is new in Python 3.6.

print(f'The result is {prime}')

The result is 0.141965

In [138]:
name='Praveen'
age=40

In [140]:
print(f"{name}'s age is {age}")

Praveen's age is 40

In [142]:
'{a} {b}!'.format(a='Python',b='rules')

'Python rules!'

#### DataTypes
###### 1. Definition:

- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

###### 2. Importance of Data Types in Programming
Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

Outline:
1. Introduction to Data Types
2. Importance of Data Types in Programming
3. Basic Data Types
   - Integers
   - Floating-point numbers
   - Strings
   - Booleans
4. Advanced Data Types
   - Lists
   - Tuples
   - Sets
   - Dictionaries
5. Type Conversion
6. Practical Examples

In [160]:
## Integer Example
age=35
type(age)

int

In [162]:
##floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [165]:
## string datatype example
name="Krish"
print(name)
print(type(name))

Krish
<class 'str'>

In [171]:
## boolean datatype
is_true=True
type(is_true)

bool

a=10
b=10

type(a==b)

In [179]:
## common errors
# we cant add a string with a num
result="Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [181]:
# However we can convert the number into string and then concatenate,Now the system will consider both as String
result="Hello" + str(5)
print(result)

Hello5

#### Deep Dive into Operators

##### Outline:
1. Introduction to Operators
2. Arithmetic Operators
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation
3. Comparison Operators
   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to 
   - Less than or equal to
4. Logical Operators
   - AND
   - OR
   - NOT
5. Equality Operators
6. Bitwise Operators

In [191]:
## Arithmethic Operation
a=10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #substraction 
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [193]:
10/5

2.0

In [195]:
21/5

4.2

In [197]:
# Floor division in Python is an arithmetic operation that divides two numbers and rounds the result down to the nearest whole number (integer). 
# It is performed using the // operator. The result of floor division is always an integer, regardless of whether the operands are integers or 
# floating-point numbers. 

21//5

4

##### Comparison Operators

In [202]:
## Comparison Operators
## == Equal to
a=10
b=10

a==b

True

In [204]:
str1="Krish"
str2="Krish"

str1==str2

True

In [206]:
# greater than >

num1=45
num2=55

num1>num2

False

In [208]:
## less than <

print(num1<num2)

True

In [210]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)

True

In [216]:
#less than or equal to
number1=44
number2=45

print(number1<=number2)

True

##### Logical Operators

In [48]:
## And ,Not,OR
X=True
Y=True

result =X and Y
print(result)

True

In [50]:
# if either one is false the output will be False
X=False
Y=True

result =X and Y
print(result)

False

In [52]:
# if either one is false the output will be True and False only when both are False
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [54]:
# Not operator
X=False
not X

True

In [56]:
# Lets define two variables having boolean values True and False-
START = True
STOP = False

# Print the values as it is
print(f"Defined value of START = {START}")
print(f"Defined value of STOP = {STOP} \n")

# if can also be written as - 
print(f"Defined value of START = {START}")
print(f"Value of STOP by negating START= {not START} \n")

# alternatively -
print(f"Value of START by negating STOP = {not STOP}")
print(f"Defined value of STOP = {STOP} \n")

Defined value of START = True
Defined value of STOP = False

Defined value of START = True
Value of STOP by negating START= False

Value of START by negating STOP = True
Defined value of STOP = False

In [58]:
zero = 0
one = 1

print(f"boolean value of no. {zero} is {bool(zero)}")
print(f"boolean value of no. {one} is {bool(one)}")
print(f"negation of {zero} is {not zero} and negation of {one} is {not one}")
print("\n#------------------------#\n")

boolean value of no. 0 is False
boolean value of no. 1 is True
negation of 0 is True and negation of 1 is False

#------------------------#

In [60]:
not bool(int(-5))

False

In [62]:
not bool(int(5))

False

In [64]:
Some_negative_float = -5.99
Some_positive_float = 5.6

print(f"boolean value of no. {Some_negative_float} is {bool(Some_negative_float)}")
print(f"boolean value of no. {Some_positive_float} is {bool(Some_positive_float)}")
print(f"negation of {Some_negative_float} is {not Some_negative_float} \
and negation of {Some_positive_float} is {not Some_positive_float}")

boolean value of no. -5.99 is True
boolean value of no. 5.6 is True
negation of -5.99 is False and negation of 5.6 is False

#### Logical And

In [68]:
VEGETABLES = True
SALT = False
DISH = VEGETABLES and SALT

print(f"Dish contains VEGETABLES: {VEGETABLES}")
print(f"Dish contains SALT: {SALT}")
print(f"Hence dish prepared was good: {DISH}\n")

Dish contains VEGETABLES: True
Dish contains SALT: False
Hence dish prepared was good: False

In [70]:
True * False

0

In [72]:
False * False

0

In [74]:
True * True

1

In [76]:
# it using BODMAS rule. first its multiplying True * True and then giving it to NOT
not True * True

False

In [78]:
(not(True)) * True

0

####  Equality Operators

Following operations are present in python for equlity check operation-

|Operators|Meaning|
|-|-|
|**is**|***a is b*** returns true if variable/identifiers a and b *points* to the *same object*|
|**is not**|***a is not b*** returns true if variable/identifiers a and b *points* to the *different object*|
|**==**|***a == b*** returns true if variable/identifiers a and b has same value|
|**!=**|***a != b*** returns true if variable/identifiers a and b has different value|

In [81]:
# If we create 2 variable assigning the same numbers, will each of the variable use same ram id/address or different?

lst_a=[1,2,3,4]
lst_b=[1,2,3,4]

In [83]:
# checking the memory address for both variable . Diff memory address is created
# id Docstring: Return the identity of an object.
print(id(lst_a))
print(id(lst_b))

2367108970624
2367108965248

In [85]:
# Using Is Operator
lst_a is lst_b

False

In [87]:
# Now what happens when its assigned to another variable, will the address change ??
lst_a=[1,2,3,4]
lst_b=lst_a

In [89]:
# They are both pointing to the same memory address
print(id(lst_a))
print(id(lst_b))

2367109086720
2367109086720

In [91]:
lst_a is lst_b

True

In [93]:
# Using Is Not function 
lst_a=[1,2,3,4]
lst_b=[1,2,3,4]

In [95]:
lst_a is not lst_b

True

In [97]:
# over here its checking the values/contents inside both variables and not the memory address
lst_a == lst_b

True

In [99]:
str1="Krish"
str2="Krish"
print(id(str1))
print(id(str2))

2367097115280
2367097115280

In [101]:
## immutable
## List is a collection of elements vs String which is a value,thats why memory address is same for a string with same value
str1="Krish"
str2="Krish1"
print(id(str1))
print(id(str2))

2367097115280
2367097116480

#### Comparison operation
|Operation|Meaning|
|:-:|:-:|
| **<** |less than|
| **<=** |less than or equal to|
| **>** |greater than|
| **>=** |greater than or equal to|

In [104]:
maxium_speed_of_bike = 200
max_speed_of_car = 200

print(f"bike is faster than car: {maxium_speed_of_bike > max_speed_of_car}")

bike is faster than car: False

In [106]:
maxium_speed_of_bike = 200
max_speed_of_car = 200

print(f"bike is faster than car: {maxium_speed_of_bike <= max_speed_of_car}")

bike is faster than car: True

#### Bitwise Operators
|Operation|Meaning|
|:-:|:-:|
| **∼** |bitwise complement (prefix unary operator)|
| **&** |bitwise and|
| **\|** |bitwise or|
| **^** |bitwise exclusive-or|
| **<<** |shift bits left, filling in with zeros|
| **>>** |shift bits right, filling in with sign bit|

In [110]:
# 2/10 by 5 = 0, 2/5 by 2 = 1, 2/2 by 1 = 0 hence the Binary for 10 is 1010, 0b is Python prefix for representing binary nos
var = 10
bin(var)

'0b1010'

In [112]:
~ var

-11

In [114]:
True | False

True

In [116]:
False or False

False

In [118]:
False & False

False

In [120]:
# Using right Shift for var(10 = 1010), we are shifting the first binary digit to last to make it 0101, which is 5
var >>1

5

In [122]:
var << 1

20