### Topics Covered
- Conditional Statements
- Loops
- List & List Comprehension
- Sets
- Dictionaries
- Tuples
- Functions
- Lambda, Map & Filter Functions
- Useful Operators

#### Conditional Statements (if, elif, else)
Outline:
1. Introduction to Conditional Statements
2. if Statement
3. else Statement
4. elif Statement
5. Nested Conditional Statements
6. Practical Examples
7. Common Errors and Best Practices

In [10]:
## if statement
age=20
print("Your current age is :", age)
if age>=18:
    print("You are allowed to vote in the elections")

Your current age is : 20
You are allowed to vote in the elections

In [14]:
## else
## The else statement executes a block of code if the condition in the if statement is False.

age=16
print("Your current age is :", age)
if age>=18:
    print("You are eligible for voting")
else:
    print("You are a minor!")

Your current age is : 16
You are a minor!

In [16]:
## elif
## The elif statement allows you to check multiple conditions. It stands for "else if"

age=17
print("Your current age is :", age)
if age<13:
    print("You are a child")
elif age<18:
    print("You are a teenager")
else:
    print("You are an adult")

Your current age is : 17
You are a teenager

In [20]:
## Nested Conditional Statements

# You can place one or more if, elif, or else statements inside another if, elif, or else statement to create nested conditional statements.

## number even ,odd,negative

num=int(input("Enter the number"))

if num>0:
    print("The number is positive")
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")

else:
    print("The number is zero or negative")

Enter the number 10

The number is positive
The number is even

#### Loops
Outline:
1. Introduction to Loops
2. for Loop
   - Iterating over a range
   - Iterating over a string

3. while Loop
4. Loop Control Statements
    - break
    - continue
    - pass
5. Nested Loops
6. Practical Examples and Common Errors

In [28]:
range(5)

range(0, 5)

In [46]:
## for loop
# Range always starts with 0 hence the number mentioned in range(n) , n will not be displayed. 
# Just like in list var=[0,1,2,3,4], executing var[:2] , will result in 0,1. it will not display 2nd index, it will stop at 1st index(1)

for i in range(5):
    print(i)

0
1
2
3
4

In [48]:
# 1st parameter is start, 2nd parameter is end & 3rd parameter is step 
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [50]:
# Displaying in reverse
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [56]:
## strings

str="Krish Naik"

for i in str:
    print(i)

K
r
i
s
h

N
a
i
k

In [58]:
## while loop

## The while loop continues to execute as long as the condition is True.

count=0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [75]:
# While & While - else Loop

joining_age = 55
while joining_age <= 60:
    print(joining_age)
    joining_age=joining_age+1
else :
    print("Its time to Retire")

55
56
57
58
59
60
Its time to Retire

In [64]:
## Loop Control Statements

## break statement
## The break statement exits the loop permaturely

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [66]:
## continue

## The continue statement skips the current iteration and continues with the next.

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [78]:
## pass
## The pass statement is a null operation; it does nothing.

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [82]:
# Demonstrating break, continue, and pass in one loop
for i in range(1, 9):   # Loop from 1 to 7
    if i == 3:
        print("i =", i, "→ pass (do nothing, just skip this line)")
        pass   # Does nothing, just a placeholder
    elif i == 5:
        print("i =", i, "→ continue (skip rest of this iteration)")
        continue   # Skips printing below, goes to next loop iteration
    elif i == 7:
        print("i =", i, "→ break (exit the loop completely)")
        break   # Ends the loop entirely
    print("Loop is running with i =", i)

Loop is running with i = 1
Loop is running with i = 2
i = 3 → pass (do nothing, just skip this line)
Loop is running with i = 3
Loop is running with i = 4
i = 5 → continue (skip rest of this iteration)
Loop is running with i = 6
i = 7 → break (exit the loop completely)

- pass → Does nothing. The loop continues normally.
- continue → Skips the rest of the current iteration and jumps to the next one.
- break → Immediately stops the loop.

While pass and continue might seem similar, they actually serve different purposes in Python loops.

pass is a placeholder. It doesn't affect the loop's execution at all—it simply tells Python, "There's nothing to do here (for now), but don’t break the flow." It’s often used in function definitions or loops where code is yet to be implemented.
continue skips the rest of the loop's current iteration and moves straight to the next iteration. If Python encounters a continue statement inside a loop, it stops processing the current cycle and jumps to the next one.

In [88]:
## Nested loopss
## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [96]:
## Examples- Calculate the sum of first N natural numbers using a while and for loop

## while loop  

n=10   
sum=0
count=0

while count<=n:
    sum=sum+count
    count=count+1

print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

In [92]:
# same excercise but using the range instead

n=10   
sum=0
for i in range(11):
    sum=sum+i

print(sum)

55

In [98]:
## Example- Prime numbers between 1 and 100

for num in range(1,51):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

##### Conclusion:
Loops are powerful constructs in Python that allow you to execute a block of code multiple times. By understanding and using for and while loops, along with loop control statements like break, continue, and pass, you can handle a wide range of programming tasks efficiently.

#### Introduction To Lists
- Lists are ordered, mutable collections of items.
- They can contain items of different data types.

##### Topics Outline:
1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating Over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples and Common Errors

In [107]:
lst=[]
print(type(lst))

<class 'list'>

In [109]:
names=["Krish","Jack","Jacob",1,2,3,4,5]
print(names)

['Krish', 'Jack', 'Jacob', 1, 2, 3, 4, 5]

In [115]:
mixed_list=[1,"Hello",3.14,True]
print(mixed_list)

[1, 'Hello', 3.14, True]

In [117]:
### Accessing List Elements

fruits=["apple","banana","cherry","kiwi","gauva"]
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [119]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
gauva
gauva

In [121]:
print(fruits[1:])
print(fruits[1:3])

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']

In [123]:
## Modifying The List elements
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [125]:
fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [127]:
fruits[1:]="watermelon"
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [129]:
fruits=["apple","banana","cherry","kiwi","gauva"]
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [131]:
## List Methods
## Add an item to the end
fruits.append("orange") 
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [133]:
# insert item to the specified location while append adds at the end
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [135]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [89]:
lst=[1,2,3,4,5,6]
lst.extend(['PW', 'Skills'])
lst

[1, 2, 3, 4, 5, 6, 'PW', 'Skills']

In [137]:
# i accidentally ran the code twice and now i have 2 watermelons in the list
# we will use the remove method to remove one entry.Removing the first occurance of an item

fruits.remove("watermelon")
fruits

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [139]:
## Remove and return the last element
popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva']

In [79]:
str1 ='Welcome to Data Science Masters'
str1

'Welcome to Data Science Masters'

In [81]:
# Using split to split the data wherever space
list(str1.split(" "))

['Welcome', 'to', 'Data', 'Science', 'Masters']

In [141]:
# Identifying the location of the element
index=fruits.index("cherry")
print(index)

3

In [143]:
fruits[3]

'cherry'

In [145]:
fruits.insert(2,"banana")
print(fruits)
print(fruits.count("banana"))

['apple', 'watermelon', 'banana', 'banana', 'cherry', 'kiwi', 'gauva']
2

In [156]:
## Sorts the list in ascending order
fruits.sort() 
fruits

['apple', 'banana', 'banana', 'cherry', 'gauva', 'kiwi', 'watermelon']

In [158]:
## Sorts the list in Descending order
fruits.sort(reverse=True) 
fruits

['watermelon', 'kiwi', 'gauva', 'cherry', 'banana', 'banana', 'apple']

In [163]:
## We also have another method to Reverse the list
fruits.reverse()
fruits

['watermelon', 'kiwi', 'gauva', 'cherry', 'banana', 'banana', 'apple']

In [197]:
# Sort & Reverse Methods dont display or store the result . They just execute
new_sort_strings=['c','g','o','k','p']
new_sort_num=[5,8,0,2,3,5]

In [201]:
print(new_sort_strings)
new_sort_num

['c', 'g', 'o', 'k', 'p']

[5, 8, 0, 2, 3, 5]

In [165]:
## Remove all items from the list
fruits.clear() 

print(fruits)

[]

In [167]:
## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [169]:
numbers[::3]

[1, 4, 7, 10]

In [183]:
numbers[:-1:2]

[1, 3, 5, 7, 9]

In [185]:
numbers[::-2]

[10, 8, 6, 4, 2]

In [187]:
### Iterating Over List

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [189]:
## Iterating with index
# The enumerate object yields pairs containing a count (from start, which defaults to zero) and a value yielded by the iterable argument.
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [191]:
for number in enumerate(numbers):
    print(number)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)

In [193]:
## List comprehension
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [195]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##### Nested List

In [94]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [96]:
# Get 6
matrix[1][2]

6

In [98]:
# Get 8 & 9
matrix[2][1:]

[8, 9]

##### List Comprehension
List comprehension in Python is a concise way to create new lists by looping, filtering, and transforming data in a single line. Instead of writing multiple lines with for loops, you can express the same logic more cleanly and efficiently

Syntax : [expression for item in iterable if condition]
- expression → what you want to put in the new list
- item → current element from the iterable
- iterable → sequence you’re looping over
- if condition (optional) → filter element

In [206]:
### Basic List Comphrension
sqaure=[num**2 for num in range(10)]
print(sqaure)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [233]:
# Regular code will look like this
sqaure =[]
for num in range(10):
    sqaure.append(num**2)
print(sqaure)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [243]:
# Regular code for printing even numbers
even_numbers=[]
for num in range(10):
    if num%2==0:
        even_numbers.append(num)
print(even_numbers)

[0, 2, 4, 6, 8]

In [249]:
# Using List comprehension
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [260]:
## Nested List Comphrension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [253]:
## List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]

###### Conclusion
List comprehensions are a powerful and concise way to create lists in Python. They are syntactically compact and can replace more verbose looping constructs. Understanding the syntax of list comprehensions will help you write cleaner and more efficient Python code.

#### Sets
Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

For Tuples we used (), for Lists we used [] and for Sets we use curly brackets {}

In [262]:
##create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [264]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [268]:
# Input as List but output is a set
my_set=set([1,2,3,4,5,6])
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [276]:
## Basic Sets Operation
## Adding and Removing Elements
my_set.add(7)
print(my_set)
my_set.add(7) # Since sets dont accept duplicates, there will be no change
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [278]:
## Remove the elements from a set
my_set.remove(7)
my_set

{1, 2, 3, 4, 5, 6}

In [280]:
# Error if value to be removed doesnt exist
my_set.remove(10)

KeyError: 10

In [282]:
# Discard does the same operation as remove but wont display any error like above if the choosen element is missing from set.

my_set.discard(10)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [284]:
## pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 3, 4, 5, 6}

In List Pop method would extract value from right, but in Sets the same is happening from the left

In [286]:
## clear all the elements
my_set.clear()
print(my_set)

set()

In [288]:
## Set Membership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [302]:
## Mathematical Operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

### Union
union_set=set1.union(set2)
print("Results of Set Union is :",union_set)

## Intersection
intersection_set=set1.intersection(set2)
print("Results of Set Intersection  is :",intersection_set)

# In Intersection_update the common elements are collected (just like in Intersection) but results are stored in first set (set1)
set1.intersection_update(set2)
print("Set1 contents after intersection are :",set1)
print("Set2 contents after intersection are :",set2)

Results of Set Union is : {1, 2, 3, 4, 5, 6, 7, 8, 9}
Results of Set Intersection  is : {4, 5, 6}
Set1 contents after intersection are : {4, 5, 6}
Set2 contents after intersection are : {4, 5, 6, 7, 8, 9}

In [308]:
# Difference method
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference will remove the common elements between 2 sets and show only the remaining elements
print("Set1 contents :",set1.difference(set2))
print("Set2 contents :",set2.difference(set1))

Set1 contents : {1, 2, 3}
Set2 contents : {8, 9, 7}

In [310]:
## Symmetric Difference - only the unique elements are combined from both the sets
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [316]:
## Sets Methods
set1={1,2,3,4,5}
set2={3,4,5}

## is subset
print(set1.issubset(set2)) # - issubset() → Returns True if all elements of the first set are contained in the second set.

print(set1.issuperset(set2)) # - issuperset() → Returns True if all elements of the second set are contained in the first set.

False
True

In [322]:
### Counting Unique words in text

text="In this tutorial we are discussing about sets and only sets"
words=text.split()

## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'about', 'tutorial', 'sets', 'only', 'we', 'and', 'this', 'are', 'discussing', 'In'}
10

##### Conclusion
Sets are a powerful and flexible data type in Python that provide a way to store collections of unique elements. They support various operations such as union, intersection, difference, and symmetric difference, which are useful for mathematical computations. Understanding how to use sets and their associated methods can help you write more efficient and clean Python code, especially when dealing with unique collections and membership tests.

#### Dictionaries
Outline:
1. Introduction to Dictionaries
2. Creating Dictionaries
3. Accessing Dictionary Elements
4. Modifying Dictionary Elements
5. Dictionary Methods
6. Iterating Over Dictionaries
7. Nested Dictionaries
8. Dictionary Comprehensions
9. Practical Examples and Common Errors

##### Introduction to Dictionaries

Dictionaries are unordered collections of items. They store data in key-value pairs.
Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type.

In [1]:
## Creating Dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [3]:
empty_dict=dict()
empty_dict

{}

In [5]:
# Single key is always used, when we created new value using the same key, the latest value replaced the old key
student={"name":"Krish","age":32,"name":24}
print(student)

{'name': 24, 'age': 32}

In [7]:
## accessing Dictionary Elements
student={"name":"Krish","age":32,"grade":'A'}
print(student)

{'name': 'Krish', 'age': 32, 'grade': 'A'}

In [13]:
student['grade']

'A'

In [15]:
## Accessing Dictionary elements
print(student['grade'])
print(student['age'])

## Accessing using get() method
print(student.get('grade'))
print(student.get('last_name')) # even though there is no such key in dictionary,instead of error,it retured "None"
print(student.get('last_name',"Not Available")) # Assigned default error value

A
32
A
None
Not Available

In [71]:
# Experimenting with Dictionaries. You can have list or even Dictionaries within Dictionaries
p={'key1':'Toast','key2':[10,20,30],'key3':{'did':100}}

In [73]:
p

{'key1': 'Toast', 'key2': [10, 20, 30], 'key3': {'did': 100}}

In [75]:
# What if we have to retrieve # 30
p['key2'][2]

30

In [81]:
# What if we have to retrieve # 100
p['key3']['did']

100

In [87]:
# what if I want to change one letter g to capital
p1={'key':['a','g','p']}
p1

{'key': ['a', 'g', 'p']}

In [89]:
p1['key'][1].upper()

'G'

In [93]:
# Adding a new Value
p['Key4']=[1234,236,1.9]
p

{'key1': 'Toast',
 'key2': [10, 20, 30],
 'key3': {'did': 100},
 'Key4': [1234, 236, 1.9]}

In [95]:
#Editing existing value
p['key1']={'Appended_value':{'a1':'Text','a2':234,'a3':0.95}}
p

{'key1': {'Appended_value': {'a1': 'Text', 'a2': 234, 'a3': 0.95}},
 'key2': [10, 20, 30],
 'key3': {'did': 100},
 'Key4': [1234, 236, 1.9]}

In [19]:
## Modifying Dictionary Elements
## Dictionary are mutable,so you can add, update or delete elements
print(student)

{'name': 'Krish', 'age': 32, 'grade': 'A'}

In [21]:
print("Old values",student)
student["age"]=33  ##update value for the key
student["address"]="India" ## added a new key and value
print("Updated values",student)

Old values {'name': 'Krish', 'age': 32, 'grade': 'A'}
Updated values {'name': 'Krish', 'age': 33, 'grade': 'A', 'address': 'India'}

In [23]:
del student['grade'] ## delete key and value pair

print(student)

{'name': 'Krish', 'age': 33, 'address': 'India'}

In [25]:
## Dictionary methods

keys=student.keys() ##get all the keys
print(keys)

values=student.values() ##get all values
print(values)

items=student.items() ##get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Krish', 33, 'India'])
dict_items([('name', 'Krish'), ('age', 33), ('address', 'India')])

In [27]:
## shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Krish', 'age': 33, 'address': 'India'}
{'name': 'Krish', 'age': 33, 'address': 'India'}

In [29]:
student["name"]="Krish2"
print(student)
print(student_copy)
# even though source was updated , even the copied dictionary applied the new changes. clearly student_copy is pointing to student dict

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [31]:
student_copy1=student.copy() ## copy method allocates a diff memory location, so the changes made @ source will not affect the copy
print(student_copy1)
print(student)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [33]:
student["name"]="Krish3"
print(student_copy1)
print(student)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'Krish3', 'age': 33, 'address': 'India'}

In [35]:
### Iterating Over Dictionaries
## You can use loops to iterate over dictionatries, keys,values,or items

## Iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [37]:
## Iterate over values
for value in student.values():
    print(value)

Krish3
33
India

In [39]:
## Iterate over key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:Krish3
age:33
address:India

In [48]:
## Nested Dictionaries
students={
    "student1":{"name":"Krish","age":32},
    "student2":{"name":"Peter","age":35}
}
print(students)
# In this case student1 & student2 are keys in Dictionary students and the items like name & age are their respective values

{'student1': {'name': 'Krish', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [46]:
students["student1"]

{'name': 'Krish', 'age': 32}

In [50]:
students["student2"]["name"]

'Peter'

In [52]:
## Access nested dictionaries elementss
print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [54]:
# Lets consider student1 & student2 as Student Ids and their values which also have their own keys & Value pairs as Student info
students.items()

dict_items([('student1', {'name': 'Krish', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])

In [56]:
## Iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")   # Iterating Student1 & Student2 Keys & value pairs
    for key,value in student_info.items():  # Iterating Keys & value pairs within Student1 & Student2
        print(f"{key}:{value}")

student1:{'name': 'Krish', 'age': 32}
name:Krish
age:32
student2:{'name': 'Peter', 'age': 35}
name:Peter
age:35

In [58]:
## Dictionary Comphrehension
squares={x:x**2 for x in range(5)}
print(squares)

# X is the key and x**2 is the value

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [62]:
## Practical Examples

## Use a dictionary to count the frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={} # since we are using Dictionary to store, it will store as Keys & Values

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else :
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [64]:
## Merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In this code, ** is used for dictionary unpacking in Python. It allows merging multiple dictionaries into one.
How it works:
- **dict1 and **dict2 unpack their key-value pairs into a new dictionary.
- If there are duplicate keys, values from the later dictionary (dict2) overwrite values from the earlier dictionary (dict1).

Notice how the value of "b" from dict2 (which is 3) replaces the "b" value from dict1 (2). This technique is a clean way to merge dictionaries without using loops or .update().


When merging dictionaries using {**dict1, **dict2}, the key-value pairs from dict1 are added first, followed by those from dict2. If a key exists in both dictionaries, the value from the last dictionary (dict2) overwrites the earlier one (dict1), regardless of whether the new value is higher or lower.

##### Conclusion
Dictionaries are powerful tools in Python for managing key-value pairs. They are used in a variety of real-world scenarios, such as counting word frequency, grouping data, storing configuration settings, managing phonebooks, tracking inventory, and caching results. Understanding how to leverage dictionaries effectively can greatly enhance the efficiency and readability of your code.

#### Tuples
Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors

##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [200]:
# Diff between Tuples and List is () vs [] and Tuples are immutable and has less methods
lst=list()
print("List Syntax :",lst,"& Type :",type(lst))
tpl=tuple()
print("Tuple Syntax :",tpl,"& Type :",type(tpl))
dct=dict()
print("Dictionary Syntax :",dct,"& Type :",type(dct))
st=set()
print("Set Syntax :",st,"& Type :",type(st))

List Syntax : [] & Type : <class 'list'>
Tuple Syntax : () & Type : <class 'tuple'>
Dictionary Syntax : {} & Type : <class 'dict'>
Set Syntax : set() & Type : <class 'set'>

In [110]:
# we can convert a list into Tuple and a Tuple into list
lst1=[1,2,3,4,5]
print("Pre :",type(lst1),lst1)
tpl1=tuple(lst1) # converting List to Tuple
print("Post:",type(tpl1),lst1)
tpl2=tuple([6,7,8,9,10])
print("Pre :",type(tpl2),tpl2)
lst2=list(tpl2) # converting Tuple to List
print("Post:",type(lst2),tpl2)

Pre : <class 'list'> [1, 2, 3, 4, 5]
Post: <class 'tuple'> [1, 2, 3, 4, 5]
Pre : <class 'tuple'> (6, 7, 8, 9, 10)
Post: <class 'list'> (6, 7, 8, 9, 10)

In [112]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [114]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [118]:
# List to Tuple conversion and vice versa
numbers = tuple([1,2,3,4,5,6,7])
numbers

(1, 2, 3, 4, 5, 6, 7)

In [120]:
numbers2=list(numbers)
numbers2

[1, 2, 3, 4, 5, 6, 7]

In [122]:
# another way
list((1,2,3,4,5,6,7))

[1, 2, 3, 4, 5, 6, 7]

In [124]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [126]:
## Accessing Tuple Elements
numbers

(1, 2, 3, 4, 5, 6, 7)

In [128]:
print(numbers[2])
print(numbers[-1])

3
7

In [130]:
numbers[0:4]

(1, 2, 3, 4)

In [132]:
## Tuple Operations

concaenation_tuple=numbers + mixed_tuple
print(concaenation_tuple)

(1, 2, 3, 4, 5, 6, 7, 1, 'Hello World', 3.14, True)

In [134]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [136]:
numbers *3
# if you wish to multiply each elements into 3, then you would need to iterate each value thru for loop

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [138]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [140]:
numbers[1]="Krish"
# there are ways you can change values, like converting tuples into list , editing values and changing it back from list to Tuple

TypeError: 'tuple' object does not support item assignment

In [144]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

Packing and unpacking in Python refer to handling multiple values efficiently using tuples and lists.
- Packing:Packing means grouping multiple values into a single variable using a tuple or list.
- Unpacking: Unpacking means extracting values from a packed variable and assigning them to multiple variables.
So, packing is like putting items into a bag, and unpacking is like taking them out when needed

In [150]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [152]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

Tuple Assignment with * (Extended Unpacking)
Python allows you to use * when unpacking sequences to capture "the rest" of the values into a list.

What happens here:
- first → gets the first element of the tuple → 1
- last → gets the last element of the tuple → 6
- *middle → collects everything in between into a list → [2, 3, 4, 5]nces.

In [155]:
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [161]:
#Another example
head, *body, tail = range(10)
print(head)   
print(body)   
print(tail)

0
[1, 2, 3, 4, 5, 6, 7, 8]
9

How It Works
This unpacking pattern is helpful when:

- You want to extract specific elements and store the rest.
- You need flexible assignment when handling unknown-length sequences.

In [163]:
# what if i move the * order
numbers = (1, 2, 3, 4, 5, 6)

*head, middle, last = numbers

print(head)
print(middle)
print(last)

[1, 2, 3, 4]
5
6

When you use * in unpacking:

It absorbs multiple values into a list.
- You can place it at different positions:
- first, *middle, last → first element, last element, everything else in between.
- *head, middle, last → everything except the last two goes into head.
- first, middle, *tail → first two elements assigned, rest go into tail.

So, putting * next to head means “grab all the leading values into a list, and leave the last two for middle and last.”

In [178]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [184]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [186]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [188]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ") #- end=" " keeps items on the same line separated by spaces.
    print()

1 2 3
a b c
True False

But why arent they in the same line? 
By default, print() adds a newline ("\n") at the end of whatever it prints.When you specify end="", you’re telling Python not to add a newline, but instead use an empty string (or whatever you put there).

Answer : The inner loop uses end=" " → so items in the same sub_tuple appear on the same line separated by spaces.

But after finishing each sub_tuple, you call a plain print() → this adds a newline after each row.That’s why you see multiple lines

In [193]:
# If You Want Everything on One Line
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")

1 2 3 a b c True False

##### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.

#### Functions in Python
Outline:
1. Introduction to Functions
2. Defining Functions
3. Calling Functions
4. Function Parameters
5. Default Parameters
6. Variable-Length Arguments
7. Return Statement

##### Introduction to Functions
Definition:

A function is a block of code that performs a specific task.
Functions help in organizing code, reusing code, and improving readability.

In [205]:
## syntax
def function_name(parameters):
    """Docstring"""
    # Function body
    return expression

In [207]:
# Why Functions? Lets look at regular code to determine whether a given number is even or odd.
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [213]:
# Now lets create a function to carry out the same task

def even_odd(num):
    if num%2==0:
        print("the number is Even")
    else :
        print("the number is Odd")

even_odd(24)

the number is Even

In [215]:
## function with multiple parameters

def add(a,b):
    return a+b

result=add(2,4)
print(result)

6

In [217]:
## Default Parameters

def greet(name):
    print(f"Hello {name} Welcome To the paradise")

greet("Praveen")

Hello Praveen Welcome To the paradise

In [219]:
# in the event a user name is not specified then default value (Guest) will be assigned
def greet(name="Guest"):
    print(f"Hello {name} Welcome To the paradise")

greet()

Hello Guest Welcome To the paradise

In [225]:
### Variable Length Arguments
## Positional And Keywords arguments

def print_numbers(*krish): # - The * in *krish tells Python: “Collect all positional arguments passed to this function into a tuple named krish.”

    for number in krish:
        print(number)

In [223]:
print_numbers(5,6,7,8,"Praveen")

5
6
7
8
Praveen

So in our function, the star * is acting as a collector of all extra positional arguments into one tuple.
    
Why It’s Useful
- You don’t need to know in advance how many arguments will be passed.
- It makes your function flexible

In [228]:
def greet_all(*names):
    for name in names:
        print("Hello,", name)

greet_all("Praveen", "Anita", "Rahul")

Hello, Praveen
Hello, Anita
Hello, Rahul

In [234]:
## Positional arguments
def print_numbers(*args):
    for number in args:
        print(number)

print_numbers(1,2,3,6,7,"Praveen")

1
2
3
6
7
Praveen

- *args → packs positional arguments into a tuple.
- **kwargs → packs keyword arguments into a dictionary.

In [238]:
### Keywords Arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [241]:
print_details(name="Krish",age="32",country="India")

name:Krish
age:32
country:India

Positional and Keyword arguments are two ways to pass arguments to a function.
1. Positional Arguments
- Arguments are passed in order.
- The position in which you pass the argument determines which parameter it corresponds to.
- universally positional arguments are denoted with *args , to Pass multiple positional arguments, When unsure how many arguments will be passed
- Type used : Tuples

2. Keyword Arguments
- Arguments are passed using parameter names.
- Order doesn't matter since arguments are explicitly defined.
- universally positional arguments are denoted with **kwargs , to Pass multiple keyword arguments, When passing dynamic named parameters
- Type used : Dictionary (since it has Keys & Values)

In [244]:
# Combining both Positional and keyword arguments to test how system deferentiates

def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional argument :{val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [246]:
# Please note :You have to feed keyword & positional seperate and typically in order, you cant mix in any random way
# positional arguments followed by Keyword arguments, else you will get error : positional argument follows keyword argument
print_details(1,2,3,4,"Praveen",name="Praveen",age="32",country="India")

 Positional argument :1
 Positional argument :2
 Positional argument :3
 Positional argument :4
 Positional argument :Praveen
name:Praveen
age:32
country:India

In [248]:
print_details(name="Praveen",age="32",country="India",1,2,3,4,"Praveen")

SyntaxError: positional argument follows keyword argument (482727148.py, line 1)

In [252]:
# Lets try swapping the positions of accepting arguments
def print_details2(**kwargs,*args):
    for val in args:
        print(f" Positional argument :{val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

SyntaxError: arguments cannot follow var-keyword argument (623333217.py, line 2)

In [254]:
### Return statements
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [256]:
### Return multiple parameters
def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)

##### Lambda Functions in Python
Lambda functions are small anonymous functions defined using the **lambda** keyword. They can have any number of arguments but only one expression. They are commonly used for short operations or as arguments to higher-order functions.

In [259]:
#Syntax
lambda arguments: expression

In [261]:
def addition(a,b):
    return a+b

In [263]:
addition(2,3)

5

In [267]:
addition=lambda a,b:a+b
print(addition(5,6))

11

In [269]:
type(addition)

function

In [271]:
def even(num):
    if num%2==0:
        return True
    
even(24)

True

In [273]:
even = lambda num:num%2==0

In [277]:
even(4)

True

In [279]:
def addition(x,y,z):
    return x+y+z

addition(12,13,14)

39

In [281]:
addition1=lambda x,y,z:x+y+z
addition1(12,13,14)

39

In [283]:
## map()- applies a function to all items in a list
numbers=[1,2,3,4,5,6]
def square(number):
    return number**2

square(2)

4

In [285]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

What is map?

The map() function applies a given function to each item of an iterable (like a list, tuple, etc.) and returns a map object (which you can convert to a list, tuple, etc.)

Syntax:
map(function, iterable)
- function → the function to apply
- iterable → the sequence of value
.

In [292]:
numbers = [1, 2, 3, 4, 5]

# Square each number
squares = map(lambda x: x**2, numbers) # - lambda x: x**2 is applied to each element in numbers.
# - The result is a map object, so we convert it to a list.
print(list(squares))

[1, 4, 9, 16, 25]

In [294]:
# Using a Defined Function

def double(x):
    return x * 2

nums = [10, 20, 30]
result = map(double, nums)

print(list(result))

[20, 40, 60]

In [298]:
# Multiple Iterables - You can pass more than one iterable, and the function must accept that many arguments:

a = [1, 2, 3]
b = [4, 5, 6]

sums = map(lambda x, y: x + y, a, b)
print(list(sums))

[5, 7, 9]

##### Practical Use Case

In [308]:
# - Transforming data quickly:
words = ["apple", "banana", "cherry"]
lengths = list(map(len, words))
print(lengths)

[5, 6, 6]

In [312]:
# - Cleaning data:
raw = ["  hello ", " world  ", " python "]
cleaned = list(map(str.strip, raw)) # stripping the empty spaces for each word items
print(cleaned)

['hello', 'world', 'python']

In [316]:
# Comparison: map() vs List Comprehension

nums = [1, 2, 3, 4]

# Using map
squares_map = list(map(lambda x: x**2, nums))

# Using list comprehension
squares_comp = [x**2 for x in nums]

print(squares_map)
print(squares_comp)

# Both can achieve similar results:
# map() is often cleaner when you already have a function defined, while list comprehensions are more Pythonic for inline transformations.

[1, 4, 9, 16]
[1, 4, 9, 16]

In [15]:
### Map multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]


added_numbers= list(map(lambda x,y : x + y,numbers1,numbers2))
print(added_numbers)

# First we start with Lamda function by declaring the arguments x & y and then expression which x + y
# Second we use map , step 1 (lambda function above), followed by iterable numbers1 & numbers 2

[5, 7, 9]

Why the below code wont produce actual results

map(lambda x,y : x + y,numbers1,numbers2)

- map() in Python returns an iterator (a map object), not a list.
- When you do print(added_numbers), you’re just printing the object reference, something like: <map object at 0x000002379861D060>
    
How to see the values
You need to consume the iterator. The most common way is to WRAP IT IN "list()": 2 diff ways listed below

1. list(map(lambda x,y : x + y,numbers1,numbers2))

2. print(list(added_numbers))

Why Python does this
- In Python 3, map() was changed to return an iterator instead of a list (like in Python 2).
- This is more memory-efficient, because it doesn’t build the entire result list immediately.
- You can iterate over it once, or convert it to a list if you want all results at once.

Alternatives
You could also use:
- List comprehension (often more Pythonic):
added_numbers = [x + y for x, y in zip(numbers1, numbers2)]
print(added_numbers)  # [5, 7, 9]

Or explicitly loop through the map:
for val in map(lambda x, y: x + y, numbers1, numbers2):
    print(val)

So the short answer: map() gives you an iterator, not a list. That’s why you need list() (or another way to consume it) to see the actual values.

In [18]:
str_numbers = ['1', '2', '3', '4', '5']
type(str_numbers)

list

In [28]:
# convert a list of strings to integers
str_numbers = ['1', '2', '3', '4', '5']
place_holder =[]
for a in str_numbers:
    place_holder.append(int(a))
print(place_holder)

[1, 2, 3, 4, 5]

In [34]:
# Now convert the same but using a map function
str_numbers = ['1', '2', '3', '4', '5']
int_numbers= map(int,str_numbers) # or wrap it in "list" right here instead of using it during print " list(map(int,str_numbers)) "
print(list(int_numbers))

[1, 2, 3, 4, 5]

##### Conclusion
The map() function is a powerful tool for applying transformations to iterable data structures. It can be used with regular functions, lambda functions, and even multiple iterables, providing a versatile approach to data processing in Python. By understanding and utilizing map(), you can write more efficient and readable code.

#### The filter() Function in Python
The filter() function constructs an iterator from elements of an iterable for which a function returns true. It is used to filter out items from a list (or any other iterable) based on a condition.

In [44]:
# lets create a small fn to identify if a given number is true
def even(num):
    if num%2==0:
        return True

even(24)

True

In [52]:
# Now lets combine this function with filter 
batch=[1,2,3,4,5,6,7,9,8,23,44,5,6,33,22,22]

even_num=list(filter(even,batch))

print(even_num)

[2, 4, 6, 8, 44, 6, 22, 22]

In [62]:
# Using filter, lambda and condition : >5
greater_than_5 =list(filter(lambda x : x > 5, batch))
print(greater_than_5)

[6, 7, 9, 8, 23, 44, 6, 33, 22, 22]

In [64]:
# Even numbers and greater than 5
greater_than_5 =list(filter(lambda x : x > 5 and x % 2 ==0 , batch))
print(greater_than_5)

[6, 8, 44, 6, 22, 22]

In [72]:
## Filter() to check if the age is greater than 25 in dictionaries
people=[
    {'name':'Praveen','age':32},
    {'name':'Jack','age':33},
    {'name':'John','age':25}
]

def age_greater_than_5(person):
    if person['age'] > 25:
        return True

list(filter(age_greater_than_5, people))

[{'name': 'Praveen', 'age': 32}, {'name': 'Jack', 'age': 33}]

##### Conclusion
The filter() function is a powerful tool for creating iterators that filter items out of an iterable based on a function. It is commonly used for data cleaning, filtering objects, and removing unwanted elements from lists. By mastering filter(), you can write more concise and efficient code for processing and manipulating collections in Python.

#### Useful Operators

In [103]:
# Range : Type Range & Shift+Tab will give you syntax for Range Function
for num in range(5):
    print(num)

0
1
2
3
4

In [105]:
# Range(start, stop[, step]) -> range object......Just like in Slicing (Upto) (Step by)
for num in range(2,20,2):
    print(num)

2
4
6
8
10
12
14
16
18

In [107]:
# Enumerate : enumerate(iterable, start=0). Return an enumerate object/Index value
# Printing the Index value of each string . Imp - it prints in Tuples
string ='Praveen Prabhu'
for indexvalue in enumerate(string):
    print(indexvalue)

(0, 'P')
(1, 'r')
(2, 'a')
(3, 'v')
(4, 'e')
(5, 'e')
(6, 'n')
(7, ' ')
(8, 'P')
(9, 'r')
(10, 'a')
(11, 'b')
(12, 'h')
(13, 'u')

In [109]:
# Print both Index and Object/letters on new line
string ='PrishaPrabhu'
for indexvalue,stringletter in enumerate(string):
    print(indexvalue,"=",stringletter)

0 = P
1 = r
2 = i
3 = s
4 = h
5 = a
6 = P
7 = r
8 = a
9 = b
10 = h
11 = u

In [113]:
# Zip : zip(*iterables) --> zip object
# Helps Zip 2 or more lists and outputs tuples(one of the many functions to print outputs as Tuples)
# if Lists are uneven, Zip is only going to zip whichever is the lowest
numbers=[10,1,2,3,5]
strings=['a','b','c','d','e']
dec=[100,200,300,400,500]

for join in zip(numbers,strings,dec):
    print(join)

(10, 'a', 100)
(1, 'b', 200)
(2, 'c', 300)
(3, 'd', 400)
(5, 'e', 500)

In [115]:
# instead of iteration, if you want to cast it as List itself, then you can do the following
list(zip(numbers,strings,dec))

[(10, 'a', 100), (1, 'b', 200), (2, 'c', 300), (3, 'd', 400), (5, 'e', 500)]

In [117]:
# you can also unpack the zip
for n,s,d in zip(numbers,strings,dec):
    print(n,s,d)

10 a 100
1 b 200
2 c 300
3 d 400
5 e 500

In [119]:
# In function, is not just used in for loop but also to search for strings, numbers
'p'in ['r','d','p']

True

In [121]:
12 in [0,12,34,3,4,5]

True

In [123]:
# also can be used in strings
'see' in 'i c you,but you cant see me'

True

In [127]:
# Also can be used in Dictionaries
'Dict_key1' in {'Dict_key1':20}

True

In [129]:
d={'Dict_key':345}
345 in d.keys()

False

In [133]:
d={'Dict_key':345}
345 in d.items()

False

In [131]:
d={'Dict_key':345}
345 in d.values()

True

In [135]:
# Min & Max functions
Testlist=[20,23,45,6,734,697,4546,45,7866]
min(Testlist)

6

In [137]:
max(Testlist)

7866

In [139]:
# Python comes with many Built in Libraries, one of them is 'Random'
# If you hit 'Tab' after Import, you will be able to see all the functions under the lib 'Random'
from random import shuffle

In [143]:
# Shuffle helps shuffle any list, and every time its executed, it shuffles each time.
# Its also IN PLACE function, which means you cant store it or get the output on execution, it just shuffles

listtoshuffle=[12,24,45,667,784,34,68,'temp','India','Pat']
listtoshuffle

[12, 24, 45, 667, 784, 34, 68, 'temp', 'India', 'Pat']

In [151]:
shuffle(listtoshuffle) # Doesnt display the result, just shuffles every time to execute this line
listtoshuffle

[784, 'India', 68, 'temp', 45, 12, 24, 34, 'Pat', 667]

In [153]:
# Randint - Randomly extracts a numbers and can be saved or assigned
from random import randint

In [157]:
# Sytax : randint(a, b)
# Return random integer in range [a, b], including both end points.
randint(0,100)

8

In [161]:
Saverandint=randint(0,1030)
Saverandint

1012

In [163]:
# Input Function : Accepts inputs and also allows to save
input('Enter a Text')

Enter a Text Text as Input

'Text as Input'

In [165]:
savedinput = input('This time enter some number ')

This time enter some number  45

In [167]:
savedinput

'45'

In [169]:
# Input accepts any input as String only,e.g see earlier output, 45 is in quotes. but you can cast it to show as int or dec
type(savedinput)

str

In [173]:
# So in order to actually cast this or really transform it into an other data type ,do the foll
float(savedinput)

45.0

In [175]:
int(savedinput)

45

In [177]:
# Another way is to wrap it into desired output and store it, to show it as the required type
numinput = int(input('Enter a Number to save as Integer'))

Enter a Number to save as Integer 56

In [179]:
numinput

56

In [181]:
type(numinput)

int